@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 241, 241;
  --background-end-rgb: 241, 241, 241;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.hero_section{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 43.5%), url('/legend_bg.png') no-repeat center center/cover;
}

.award{
  background-image: linear-gradient(rgba(87, 125, 84, 0.77), rgba(87, 125, 84, 0.77)), url('/award.png');
  background-color: rgba(87, 125, 84, 0.77);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
  color: white;
}

.service-cards{
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(20.926vw, 1fr));
}

.service-card{
  background-color: #EBE3CA;
  transition: transform 0.5s;
}

.service-card:hover{
  transform: scale(1.05);
  transition: transform 0.5s;

}

.cta-valuation-form{
  background-image: linear-gradient(rgba(87, 125, 84, 0.77), rgba(87, 125, 84, 0.77)), url('/cta2_bg.webp');
  background-color: rgba(87, 125, 84, 0.77);
  background-size: cover;
  background-position: center;
}

.video-player{
  width: 100svw;
  height: 100svh;
  background-color: rgba(76, 76, 76, 0.6);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 1000;
}

.form-control{
  max-width: 100% !important;
}

@media (min-width: 768px) and (max-width: 1024px){
  
.form-control{
  max-width: 100% !important;
}
}


@media screen and (max-width: 376px){
  .bg-hero-section{
    height: 75svh;
  }
  
  .CTA_form{
    margin-top: -10% !important;
  }
  p{
    font-size: 0.75rem;
    max-width: 89%;
  }
  h3{
    max-width: 89%;
  }
}

@media screen and (max-width: 280px){
  .bg-hero-section{
    height: 85svh;
  }
}